<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <h1>TWO NUMBERS</h1>

    <form action="" method="post">
        {% csrf_token %}
    <label for="fname">Number 1:</label>
    <br>
    <input type="text" id="number1" name="number1" value="{{number1}}" />
    <br>
    <label for="lname">Number 2:</label>
    <br>
    <input type="text" id="number2" name="number2" value="{{number2}}" />
    <br>
    <select id="method" name="method">
        <option value="">select</option>
        <option value="add" {% if method == "add" %} selected {% endif %}> add </option>
        <option value="sub" {% if method == "sub" %} selected {% endif %}> sub </option>
        <option value="mul" {% if method == "mul" %} selected {% endif %}> mul </option>
        <option value="div" {% if method == "div" %} selected {% endif %}> div </option>
    </select>
    <br>
    <input type="submit" value="submit" />
</form>
<p>result {{result}}</p>
  
</body>
</html>